@model UpdateAdvanceDTO

<form asp-action="update" asp-controller="advance">
    <div class="row d-flex justify-content-center mt-3">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="UserId" />
        <input type="hidden" asp-for="StatuId" />
        <input type="hidden" asp-for="CreatedDate" />
        <div class="col-lg-10">
            <h1>Update Advance</h1>

            <div class="form-group">
                <label asp-for="Amount" class="form-label">@Html.DisplayNameFor(x=>x.Amount)</label>
                <input asp-for="Amount" class="form-control" type="text">
                <span class="text-danger" asp-validation-for="Amount"></span>
            </div>

            <div class="form-group">
                <label asp-for="NumberOfInstallments" class="form-label">@Html.DisplayNameFor(x=>x.NumberOfInstallments)</label>
                <input asp-for="NumberOfInstallments" class="form-control" type="number">
                <span class="text-danger" asp-validation-for="NumberOfInstallments"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="form-label">@Html.DisplayNameFor(x=>x.Description)</label>
                <input asp-for="Description" class="form-control">
                <span class="text-danger" asp-validation-for="Description"></span>
            </div>

            <div class="form-group">
                <label asp-for="AdvanceDate" class="form-label">@Html.DisplayNameFor(x=>x.AdvanceDate)</label>
                <input asp-for="AdvanceDate" class="form-control">
                <span class="text-danger" asp-validation-for="AdvanceDate"></span>
            </div>

        </div>
    </div>

    <div class="form-group d-flex justify-content-end mt-3">
        <input type="submit" value="Update" class="btn btn-primary" />
        <a class="btn btn-danger ms-3" asp-area="personel" asp-action="advances" asp-controller="personel">Back Advance</a>
        <a class="btn btn-info ms-3" asp-area="personel" asp-action="index" asp-controller="personel">Back Home</a>
        <div class="col-lg-1"></div>
    </div>
</form>

@section Scripts{
    <script>
        function myFunction(id) {
            Number.prototype.formatMoney = function (c, d, t) {
                var n = this,
                    c = isNaN(c = Math.abs(c)) ? 2 : c,
                    d = d == undefined ? "." : d,
                    t = t == undefined ? "," : t,
                    s = n < 0 ? "-" : "",
                    i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "",
                    j = (j = i.length) > 3 ? j % 3 : 0;
                return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(d{3})(?=d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
            };
        }
    </script>
}