@model UpdateLeaveTypeDTO

@{
    Layout = "~/Areas/Personel/Views/Shared/_LayoutPersonel.cshtml";
}

<form asp-action="update" asp-controller="leavetype">
    <div class="row d-flex justify-content-center mt-3">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="CompanyId" />
        <input type="hidden" asp-for="StatuId" />
        <div class="col-lg-10">
            <h1>Update LEave Type</h1>

            <div class="form-group">
                <label asp-for="Name" class="form-label">@Html.DisplayNameFor(x=>x.Name)</label>
                <input asp-for="Name" class="form-control">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
        </div>
    </div>

    <div class="form-group d-flex justify-content-end mt-3">
        <input type="submit" value="Update" class="btn btn-primary" />
        <div class="col-lg-1"></div>
    </div>
</form>