@model RegisterDTO


<div class="container">
	<div class="row justify-content-center">

		<div class="col-lg-8">
			<div class="card o-hidden border-0 shadow-lg my-5">
				<div class="card-body p-0">

					<div class="row">

						<div class="p-5">
							<div class="text-center">
								<h1 class="h4 text-gray-900 mb-4">Create Account !</h1>
							</div>
							<div class="text">
								<h3 class="h5 text-gray-900 mb-4">Personal Information</h3>
							</div>

							@if (TempData["ErrorConformation"] != null)
							{
								<ul class="list-group">

									
										<li class="p-1 text-danger">
										@TempData["ErrorConformation"]
										</li>
									
								</ul>
							}

							@if (TempData["Conformation"] != null)
							{
								<ul class="list-group">

									@foreach (var item in TempData["Error"] as Array)
									{
										<li class="p-1 text-danger">
											@item
										</li>
									}
								</ul>

							}

							<form class="user" asp-controller="account" asp-action="register" method="post">
								<div class="form-group">
									<input asp-for="UserName" class="form-control form-control-user"  placeholder=" User Name">
									<span asp-validation-for="UserName" class="text-danger"></span>
								</div>
								<div class="form-group row">
									<div class="col-sm-6 mb-3 mb-sm-0">
										<input asp-for="FirstName" class="form-control form-control-user"  placeholder="First Name">
										<span asp-validation-for="FirstName" class="text-danger"></span>
									</div>
									<div class="col-sm-6">
										<input asp-for="LastName" class="form-control form-control-user"  placeholder="Last Name">
										<span asp-validation-for="LastName" class="text-danger"></span>
									</div>
								</div>
								<div class="form-group">
									<input asp-for="Email" class="form-control form-control-user"  placeholder="Email Address">
									<span asp-validation-for="Email" class="text-danger"></span>
								</div>
								<div class="form-group row">
									<div class="col-sm-6 mb-3 mb-sm-0">
										<input asp-for="Password" class="form-control form-control-user"  placeholder="Password">
										<span asp-validation-for="Password" class="text-danger"></span>
									</div>
									<div class="col-sm-6">
										<input asp-for="ConfirmPassword" class="form-control form-control-user" placeholder="verify password">
										<span asp-validation-for="Password" class="text-danger"></span>
									</div>
								</div>
								<div class="text">
									<h3 class="h5 text-gray-900 mb-4">Company Information</h3>
								</div>
								<div class="form-group row">
									<div class="col-sm-6 mb-3 mb-sm-0">
										<input asp-for="CompanyName" class="form-control form-control-user" placeholder="Company Name">
										<span asp-validation-for="CompanyName" class="text-danger"></span>
									</div>
									<div class="col-sm-6">
										<input asp-for="TaxNumber" class="form-control form-control-user" placeholder="Tax Number">
										<span asp-validation-for="TaxNumber" class="text-danger"></span>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-6 mb-3 mb-sm-0">
										<input asp-for="TaxOfficeName" class="form-control form-control-user" placeholder="Tax Office Name">
										<span asp-validation-for="TaxOfficeName" class="text-danger"></span>
									</div>
									<div class="col-sm-6">
										<input asp-for="PhoneNumber" class="form-control form-control-user" placeholder="Phone Number">
										<span asp-validation-for="PhoneNumber" class="text-danger"></span>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-6 mb-3 mb-sm-0">
										<input asp-for="NumberOfEmployee" class="form-control form-control-user" placeholder="Number Of Employee">
										<span asp-validation-for="NumberOfEmployee" class="text-danger"></span>
									</div>
									<div class="col-sm-6">
										<input asp-for="City" class="form-control form-control-user" placeholder="City">
										<span asp-validation-for="City" class="text-danger"></span>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-6 mb-3 mb-sm-0">
										<input asp-for="DistrictId" class="form-control form-control-user" placeholder="District">
										<span asp-validation-for="DistrictId" class="text-danger"></span>
									</div>
									<div class="col-sm-6">
										<input asp-for="AddressDescription" class="form-control form-control-user" placeholder="AddressDescription">
										<span asp-validation-for="AddressDescription" class="text-danger"></span>
									</div>
								</div>

								<button class="btn btn-primary btn-user btn-block" type="submit" value="register" >
									Create Account
								</button>
								
							</form>
							<hr>
							
							<div class="text-center">
								<a class="small" asp-action="login" asp-controller="account">If you have an account click to login !</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
