@model UpdateAdvanceDTO

<div class="modal fade" id="updateAdvanceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="update" asp-controller="advance">
                    <div class="row d-flex justify-content-center mt-3">

                        <div class="col-lg-10">
                            <div class="form-group">
                                <div class="col-lg-10">
                                    <div class="form-group">
                                        <label asp-for="Amount" class="form-label">Amount</label>
                                        <input asp-for="Amount" class="form-control" type="text" placeholder="Amount">
                                        <span asp-validation-for="Amount"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="NumberOfInstallments" class="form-label">Number Of Installments</label>
                                        <input asp-for="NumberOfInstallments" class="form-control" type="text">
                                        <span asp-validation-for="NumberOfInstallments"></span>
                                    </div>
                            </div>


                        </div>
                    </div>

                    <div class="form-group d-flex justify-content-end mt-3">
                        <input type="submit" value="Update" class="btn btn-primary" />
                        <div class="col-lg-1"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
