@model UpdateLeaveDTO

<form asp-action="update" asp-controller="leave">
    <div class="row d-flex justify-content-center mt-3">
        <input type="hidden" asp-for="Id"/>
        <input type="hidden" asp-for="UserId"/>
        <input type="hidden" asp-for="StatuId"/>
        <input type="hidden" asp-for="CreatedDate"/>
        <div class="col-lg-10">
            <h1>Update Leave</h1>

            <div class="form-group">
                <label asp-for="StartDate" class="form-label">Leave Start Date</label>
                <input asp-for="StartDate" class="form-control" type="date">
                <span class="text-danger" asp-validation-for="StartDate"></span>
            </div>

            <div class="form-group">
                <label asp-for="EndDate" class="form-label">Leave End Date</label>
                <input asp-for="EndDate" class="form-control" type="date">
                <span class="text-danger"  asp-validation-for="EndDate"></span>
            </div>

            <div class="form-group">
                <label asp-for="ReturnDate" class="form-label">Return Date</label>
                <input asp-for="ReturnDate" class="form-control" type="date">
                <span class="text-danger" asp-validation-for="ReturnDate"></span>
            </div>

            <div class="form-group">
                <label asp-for="LeavePeriod" class="form-label">Leave Period</label>
                <input asp-for="LeavePeriod" class="form-control" type="text">
                <span class="text-danger" asp-validation-for="LeavePeriod"></span>
            </div>

            <div class="form-group">
                <label asp-for="LeaveTypeId" class="form-label">@Html.DisplayNameFor(x=>x.LeaveTypeId)</label>
                <select asp-for="LeaveTypeId" class="custom-select" asp-items="@Html.GetEnumSelectList<LeaveTypeEnumVM>()">
                    <option>Please select a Leave Type</option>
                </select>
                <span class="text-danger" asp-validation-for="LeaveTypeId"></span>
            </div>


        </div>
    </div>

    <div class="form-group d-flex justify-content-end mt-3">
        <input type="submit" value="Update" class="btn btn-primary" />
        <a class="btn btn-danger ms-3" asp-area="personel" asp-action="leaves" asp-controller="personel">Back Leave</a>
        <a class="btn btn-info ms-3" asp-area="personel" asp-action="index" asp-controller="personel">Back Home</a>
        <div class="col-lg-1"></div>
    </div>
</form>